<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EVENT REGISTRATION</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header >
        <img id="logo" src="https://media.istockphoto.com/id/1092948176/vector/illustration-fast-tires-in-black-color-logo-concept-design-template.jpg?s=612x612&w=0&k=20&c=b-jeczBGb5DMCUggabpfXMnUc2esPxsvXSBpyvLGTkY=" alt="" />
    <nav>
        <a class="nav-link" href="C:\Users\niyam\OneDrive\Desktop\web techbyheart\index.html">HOME</a>
        <a class="nav-link" href="">LOGIN</a>
        <a class="nav-link" href="">REGISTRATION</a>
    </nav>
    </header>
    <section id="events">
        <div class="eventcard1">
            <h1>{{event.event_title}}</h1>
            <p>{{event.location}}</p>
            <p>{{event.date}}</p>
            <p>{{event.description}}</p>
            <br>
            <h4>APPLY FOR THIS EVENT</h4>
            <form action="{% url 'page' event.pk %}" method="POST" class="formclass">
                <h3>Register for the Event!</h3>
                <!-- <label for="fullname">Full Name</label>
                <br>
                <input type="text" name="fullname" placeholder="Full Name">
                <br><br>
                <label for="email">Email</label>
                <br>
                <input type="text" name="email" placeholder="Mail Id">
                <br><br>
                <label for="phone">Phone number</label>
                <br>
                <input type="number" name="phone" placeholder="10 Digit phone number">
                <br><br> -->
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Register" class="submitbtn">
            </form>
        </div>
    </section>
    <footer style="position: static;">
        <p id="ftext">event registration system iso 2001:2008</p>
    </footer>
</body>
</html>